{% extends 'base.html.twig' %}
{% block title %}Étudiants{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('etudiants') }}"><button type="button" class="btn btn-outline-primary">> Etudiants</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des étudiants</h1>
    </div>
    <div class="col">
        <a href="{{ path('etudiantsAdd')}}"><button type="button" class="btn btn-primary m-3">Ajouter un étudiant</button></a>
    </div>
</div>


<section class="groupes">

    {% for etudiant in etudiants %}

    <a href="{{ path('etudiantsShow', {'alias':etudiant.alias}) }}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header">Etudiant {{ etudiant.alias }}</div>
            <div class="card-body">
                <span class="badge badge-info">{{ etudiant.universite.sigle }}</span><br>
                Groupe : {{ etudiant.groupe.alias }}<br>
                Traductions : {% for traduction in etudiant.traductions %}<span class="badge badge-light mx-1">{{ traduction.alias }}</span>{% endfor %}
            </div>
        </div>
    </a>


    {% endfor %}

</section>




{% endblock %}