{% extends 'base.html.twig' %}

{% form_theme formEtu 'bootstrap_4_layout.html.twig' %}

{% block body %}

        {% if editMode %}
            <h1>Modification d'un profil</h1>
        {% else %}        
            <h1>Créer un nouveau profil</h1>
        {% endif %}
    

    {{ form_start(formEtu) }}

    

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Mettre à jour le profil
        {% else %}        
            Créer le profil
        {% endif %}
    </button>

    {{ form_end(formEtu) }}

{% endblock %}