{% extends 'base.html.twig' %}
{% block title %}Etudiant {{ etudiant.alias }}{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('etudiants') }}"><button type="button" class="btn btn-outline-primary">> Etudiants</button></a>
        <a href="{{ path('etudiantsShow', {'alias':etudiant.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ etudiant.alias }}</button></a>
    </div>
</div>

<h1>Étudiant {{ etudiant.alias }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{{ path('etudiantsEdit', {'alias':etudiant.alias}) }}"><button type="button" class="btn btn-primary my-3">Éditer les informations</button></a>
            <a href="{{ path('etudiantsDelete', {'alias':etudiant.alias}) }}"><button type="button" class="btn btn-danger my-3">Supprimer l'étudiant</button></a>
        </div>

        <table class="table table-hover">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Nom de l'étudiant</th>
                    <td>{{ etudiant.alias }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ etudiant.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Langue maternelle</th>
                    <td>{{ etudiant.langueMaternelle }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Université</th>
                    <td>{{ etudiant.universite.nom }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Sexe</th>
                    <td>{{ etudiant.sexe }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Groupe</th>
                    <td>{{ etudiant.groupe.alias }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Traductions</th>
                    <td>{% for traduction in etudiant.traductions %}<span class="badge badge-light mx-1">{{ traduction.alias }}</span>{% endfor %}</td>
                </tr>

            </tbody>
        </table>
      </div>
      <div class="col"></div>
    </div>
</div>



{% endblock %}