{% extends 'base.html.twig' %}
{% block title %}Groupes{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('groupes') }}"><button type="button" class="btn btn-outline-primary">> Groupes</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des groupes</h1>
    </div>
    <div class="col">
        <a href="{{ path('groupesAdd')}}"><button type="button" class="btn btn-primary m-3">Ajouter un groupe</button></a>
    </div>
</div>


<section class="groupes">

    {% for groupe in groupes %}

    <a href="{{ path('groupesShow', {'alias':groupe.alias}) }}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header">Groupe {{ groupe.alias }}</div>
            <div class="card-body">
                <span class="badge badge-info">{{ groupe.annee }}</span>
                <ul>
                    {% for etu in groupe.etudiants %}
                        <li>{{ etu.alias }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </a>


    {% endfor %}

</section>




{% endblock %}