{% extends 'base.html.twig' %}
{% block title %}Groupe {{ groupe.alias }}{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('groupes') }}"><button type="button" class="btn btn-outline-primary">> Groupes</button></a>
        <a href="{{ path('groupesShow', {'alias':groupe.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ groupe.alias }}</button></a>
    </div>
</div>

<h1>Groupe {{ groupe.alias }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{{ path('groupesEdit', {'alias':groupe.alias}) }}"><button type="button" class="btn btn-primary my-3">Éditer les informations</button></a>
            <a href="{{ path('groupesDelete', {'alias':groupe.alias}) }}"><button type="button" class="btn btn-danger my-3">Supprimer le groupe</button></a>
        </div>


        <table class="table table-hover">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Nom du groupe</th>
                    <td>{{ groupe.alias }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ groupe.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Année</th>
                    <td>{{ groupe.annee }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Étudiants impliqués</th>
                    <td class="">
                        {% for etu in groupe.etudiants %}
                            <div class="d-inline-flex mr-4">{{ etu.alias }}</div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col"></div>
    </div>
</div>

<h3>Traductions disponibles pour {{ groupe.alias }}</h3>

<section class="groupes">

    {% for traduction in groupe.traductions %}
    <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.alias }}</div>
                <div>{{ traduction.groupe.alias }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original</span>
                <p>{{ traduction.titre1 }}</p>    
            </div>
        </div>
    </a>
    {% endfor %}

</section>

{% endblock %}