{% extends 'base.html.twig' %}

{% form_theme formGroupe 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="chemin">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('groupes') }}"><button type="button" class="btn btn-outline-primary">> Groupes</button></a>
            {% if editMode %}
                <a href="{{ path('groupesShow', {'alias':groupe.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ groupe.alias }}</button></a>
                <a href="#"><button type="button" class="btn btn-outline-primary">> Modification</button></a>
            {% else %}
                <a href="#"><button type="button" class="btn btn-outline-primary">> Nouveau groupe</button></a>
            {% endif %}
        </div>
    </div>

    {% if editMode %}
        <h1>Modification d'un groupe</h1>
    {% else %}        
        <h1>Créer un nouveau groupe</h1>
    {% endif %}
    

    {{ form_start(formGroupe) }}

    {{ form_row(formGroupe.alias, {'attr': {'placeholder':"Nom du groupe"}}) }}
    {{ form_row(formGroupe.annee, {'attr': {'placeholder':"Année"}}) }}
    {{ form_row(formGroupe.etudiants, {'attr': {'placeholder':"Liste des étudiants"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Mettre à jour le groupe
        {% else %}        
            Créer le groupe
        {% endif %}
    </button>

    {{ form_end(formGroupe) }}

{% endblock %}