{% extends 'base.html.twig' %}
{% block title %}Traduction {{ traduction.alias }}{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('traductions') }}"><button type="button" class="btn btn-outline-primary">> Traductions</button></a>
        <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ traduction.alias }}</button></a>
    </div>
</div>

<h1>Traduction {{ traduction.alias }}</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col"></div>
      <div class="col-8 position-relative">
        
        <div class="position-absolute" style="right:15px;top:-60px">
            <a href="{{ path('traductionsEdit', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-primary my-3">Éditer la traduction</button></a>
            <a href="{{ path('traductionsDelete', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-danger my-3">Supprimer la traduction</button></a>
        </div>

        <table class="table table-hover" style="width: 100%;">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">Nom de la traduction</th>
                    <td>{{ traduction.alias }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Identifiant</th>
                    <td>{{ traduction.id }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Année</th>
                    <td>{{ traduction.date }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Langues</th>
                    <td>
                        {% if traduction.langues == 'frjp' %}
                        français vers japonais
                        {% else %}
                        japonais vers français
                        {% endif %}
                    </td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Groupe</th>
                    <td><a href="{{ path('groupesShow', {'alias':traduction.groupe.alias}) }}" title="Accéder à la page du groupe">{{ traduction.groupe.alias }}</a></td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Étudiants impliqués</th>
                    <td class="">
                        {% for etu in traduction.groupe.etudiants %}
                            <div class="d-inline-flex mr-4">{{ etu.alias }}</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Titre original</th>
                    <td>{{ traduction.titre1 }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Titre traduit</th>
                    <td>{{ traduction.titre2 }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Auteur de l'article</th>
                    <td>{{ traduction.auteurArticle }}</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Source</th>
                    <td><a href="{{ traduction.source }}">{{ traduction.source }}</a></td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">Date de publication</th>
                    <td>{{ traduction.datePublication | date('d/m/Y') }}</td>
                </tr>
                
            </tbody>
        </table>
      </div>
      <div class="col"></div>
    </div>
</div>

<h3>Interface de visualisation</h3>
<section class="groupes">
    <a href="{{ path('view', {'alias':traduction.alias}) }}" class="noref">
    <div class="card border-secondary mb-3 groupeCard" style="width: 20rem;">
        <div class="card-header">Traduction annotée</div>
        <div class="card-body">
        <img src="{{ asset('images/imAnnotationsFlou.png') }}" width="100%">
        </div>
    </div>
    </a>
</section>

<h3>Fichiers disponibles</h3>
{% set liste = ['source', 'initial', 'revision', 'final'] %}
<section class="groupes">
    {% for fi in liste %}
    <a href="../files/{{ traduction.alias }}_{{ fi }}.xml" class="noref">
        <div class="card border-secondary mb-3 groupeCard" style="width: 20rem;">
            <div class="card-header">Document source</div>
            <div class="card-body">
                <h4 class="card-title">Texte {{ fi }}</h4>
            </div>
        </div>
    </a>
    {% endfor %}
</section>


{% endblock %}