{% extends 'base.html.twig' %}

{% form_theme formTrad 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="chemin">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('traductions') }}"><button type="button" class="btn btn-outline-primary">> Traductions</button></a>
            {% if editMode %}
                <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ traduction.alias }}</button></a>
                <a href="#"><button type="button" class="btn btn-outline-primary">> Modification</button></a>
            {% else %}
                <a href="#"><button type="button" class="btn btn-outline-primary">> Nouvelle traduction</button></a>
            {% endif %}
        </div>
    </div>

    {% if editMode %}
        <h1>Modification d'une traduction</h1>
    {% else %}        
        <h1>Créer une nouvelle traduction</h1>
    {% endif %}
    

    {{ form_start(formTrad) }}

    {{ form_widget(formTrad) }}
    
    <center>
        <button type="submit" class="btn btn-success my-4">
            {% if editMode %}
                Mettre à jour la traduction
            {% else %}        
                Créer la traduction
            {% endif %}
        </button>
    </center>

    {{ form_end(formTrad) }}


{% endblock %}