{% extends 'base.html.twig' %}
{% block title %}Traductions{% endblock %}

{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('traductions') }}"><button type="button" class="btn btn-outline-primary">> Traductions</button></a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1>Liste des traductions</h1>
    </div>
    <div class="col">
        <a href="{{ path('traductionsAdd')}}"><button type="button" class="btn btn-primary m-3">Ajouter une traduction</button></a>
    </div>
</div>

<h3>Français → japonais</h3>
<section class="groupes">

    {% for traduction in traductions %}
    {% if traduction.langues == 'frjp' %}
    <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.alias }}</div>
                <div>{{ traduction.groupe.alias }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original</span>
                <p>{{ traduction.titre1 }}</p>
                {% for etu in traduction.groupe.etudiants %}
                <span class="badge badge-light">{{ etu.alias }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</section>

<hr>

<h3>Japonais → français</h3>
<section class="groupes">

    {% for traduction in traductions %}
    {% if traduction.langues == 'jpfr' %}
    <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}">
        <div class="card text-white bg-primary mb-3 groupeCard">
            <div class="card-header d-flex justify-content-between">
                <div>Traduction {{ traduction.alias }}</div>
                <div>{{ traduction.groupe.alias }}</div>
            </div>
            <div class="card-body">
                <span class="badge badge-info">Titre original</span>
                <p>{{ traduction.titre1 }}</p>
                {% for etu in traduction.groupe.etudiants %}
                <span class="badge badge-light">{{ etu.alias }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</section>






{% endblock %}