{% extends 'base.html.twig' %}
{% block title %}Corpus View{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/viewer.css') }}" type="text/css" />
{% endblock %}


{% block body %}

<div class="chemin">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('traductions') }}"><button type="button" class="btn btn-outline-primary">> Traductions</button></a>
        <a href="{{ path('traductionsShow', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-outline-primary">> {{ traduction.alias }}</button></a>
        <a href="{{ path('view', {'alias':traduction.alias}) }}"><button type="button" class="btn btn-outline-primary">> Traduction annotée</button></a>
    </div>
</div>

<script type="text/javascript">
    var xmls = "{{ xmls | e('js') }}";
    var xmli = "{{ xmli | e('js') }}";
    var xmlr = "{{ xmlr | e('js') }}";
    var xmlf = "{{ xmlf | e('js') }}";
    var xmlinfo = "{{ xmlinfo | e('js') }}";
</script>

<div class="mainContent">
    <h1 id="titre"></h1>

    <div id="svgContainer">
        <!-- Contiendra les paths svg -->
        <svg id="svg1" width="0" height="0" ></svg>
    </div>

    <div class="control">
        <button onclick="previous()" type="button" class="btn" title="Phrase précédente">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
            </svg>
        </button>
        <input type="number" id="pid" style="width:60px" onchange="gotoP()" title="Afficher la phrase n°">
        <button onclick="next()" type="button" class="btn" title="Phrase suivante">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg>
        </button>
        <!-- <button id="pidbtn" onclick="gotoP()" type="button" class="btn btn-success">Afficher</button> -->
        <div class="control" onclick="toggleWordWrap()">
            <input id="wordwrap" type="checkbox" checked onclick="toggleWordWrap()"> Phrase sur 1 seule ligne
        </div>
    </div>
    <div class="controlinfo">Total : <span id="ptotal"></span> phrases</div>

    <div id="outer">
        <table id="maintable">
            <tr>
                <td class="tdinfo tdinfofichier"><span class="file">Fichier :</span></td>
                <td class="tdinfogroupe"><span id="infotraduction"></span> - <span id="infoparagraphe"></span> - <span id="infophrase"></span></span></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Texte source :</span></td>
                <td><span class="text" id="targs"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction initiale :</span></td>
                <td><span class="text" id="targi"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"></td>
                <td id="targreditSup" class="targredit"></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction révisée :</span></td>
                <td><span class="text" id="targr"></span></td>
            </tr>
            <tr>
                <td class="tdinfo"></td>
                <td id="targreditInf" class="targredit"></td>
            </tr>
            <tr>
                <td class="tdinfo"><span class="file">Traduction finale :</span></td>
                <td><span class="text" id="targf"></span></td>
            </tr>
        </table>
    </div>

    
</div>

<div class="position-relative" style="width: 100%;">
    <div class="card text-white bg-primary mt-4 mr-auto ml-auto" style="max-width: 40rem;">
        <div class="card-header"><i class="bi-info-circle"></i> Réflexion</div>
        <div class="card-body">
            <p>Ici il s'agit simplement de visualiser une traduction phrase par phrase. On pourrait pourrait par exemple annoter les différents commentaires/suivis de modification directement sur cette page, en cliquant sur les commentaires, et en remplissant des champs proposés. Toutes ses informations viendraient enrichir la base de données.</p>
            <p>Cette page permettrait donc l'annotation d'une traduction et sa lecture phrase par phrase. Une autre page permettrait d'afficher plusieurs phrases, de différents groupes, contenant le phénomène rechercher (un mot, un lemme, un trait grammatical, un type de correction...)</p>
        </div>
    </div>
</div>


<script src="{{ asset('js/viewer.js') }}"></script>
<script src="{{ asset('js/svgPaths.js') }}"></script>

{% endblock %}
