*, ::after, ::before {
    box-sizing: unset;
}

.groupes {
    display: inline-flex;
    justify-self: start;
    flex-wrap: wrap;
}

.groupeCard {
    width: 250px;
    margin: 30px 10px;
}
.groupeCard:hover {
    border: white 1px solid;
}

h1 {
    margin: 10px 0px 30px 0px;
}

h3 {
    color: #4a7eb6;
}

hr {
    border-top:white 2px solid;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.noref {
    color: unset;
    text-decoration: none;
}
.noref:hover {
    color: unset;
    text-decoration: none;
}

.chemin {
    margin-top: 5px;
}

.connexion {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #3498db;
    padding: 5px;
}

.connected {
    border: 1px solid #00bc8c;
    border-radius: 5px;
    padding: 5px;
}