@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);


/* https://bootswatch.com/darkly/#top */

.mainContent {
    text-align: center;
}

.container {
    max-width: 95%;
}

h1 {
    font-size: 2em;
    color: white;
    margin:15px 0px;
}

table {
    width: max-content;
    min-width: 100%;
    border: solid 1px gray;
}


/* AFFICHAGE DU TEXTE */
.file {
    padding: 5px;
}

.tdinfo {
    text-align: right;
    font-size: 1em;
    color: white;
    padding: 30px 10px;
    width: 170px;
    background-color: #303030;
}
.tdinfofichier {
    padding: 0px 10px;
}
.tdinfogroupe {
    padding-left: 10px;
    text-align: left;
    font-style: italic;
    color: rgb(184, 184, 184);
}
.commentaire {
    display: inline;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.suppression {
    display: inline;
    text-decoration: line-through;
}
.text {
    font-size: 1.2em;
    padding: 5px;
}
.deletion {
    color: red;
    text-decoration: line-through;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}
.insertion {
    color: green;
    border: 1px solid rgba(0, 128, 0, 0.5);
    border-radius: 5px;
}


/* DIVS D'ANNOTATIONS/COMMENTAIRES */
.targredit {
    display: inline-flex;
}
.divEdit {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
.divEditTitle {
    background-color: grey;
}
.divEditDate {
    background-color: grey;
    font-size: .8em;
    font-style: italic;
    padding: 0px 5px;
}
.divEditText {
    padding: 10px;
}
.divEditFirstInsert {
    border: green solid 1px;
    border-radius: 5px;
    margin: 10px;
    font-size: .8em;
    font-style: italic;
}
.divEditId {
    font-size: .7em;
    font-style: italic;
    text-align: right;
    margin-right: 3px;
}

/* PATHS SVG */
#svgContainer { 
	z-index: -10;
	position: absolute;;
}
.path {
    stroke-width:2px;
    stroke:#fff;
    fill:none;
}


/* CONTROLES */
.control {
    display: inline-flex;
    align-self: center;
}
.control > * {
    margin: 5px;
}
.controlinfo {
    font-style: italic;
}
