<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actid - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="http://placehold.it/15x15"/>
        
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}" type="text/css" />
        
        {% block stylesheets %}{% endblock %}

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Actid</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('etudiants') }}">Étudiants</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('groupes') }}">Groupes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('traductions') }}">Traductions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('recherche') }}">Recherche</a>
                </li>
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form> -->
              <ul class="navbar-nav">
                
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                  <a class="nav-link connected mx-2" href="#">{{ app.user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link connexion" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link connexion" href="{{ path('app_login') }}">Connexion</a>
                </li>
                {% endif %}
                </li>
              </ul>
            </div>
          </nav>

        <div class="container">

            <!-- AFFICHAGE DES MESSAGES -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }} mt-3">
                        <button type="button" class="close" data-dismiss="alert" onclick="this.parentElement.style.display='none';">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <!---->

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
