{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

<div class="position-relative" style="width: 100%;">
    <div class="card text-white bg-primary mt-4 mr-auto ml-auto" style="max-width: 40rem;">
        <div class="card-header"><i class="bi-info-circle"></i> Réflexion</div>
        <div class="card-body">
            <p>Ici nous pourrions envisager une barre de recherche pour afficher toutes les phrases contenant une certaine catégorie d'erreur, un mot erroné ou corrigé d'une certaine nature... etc.</p>
            <p>La recherche pourrait se faire à l'intérieur d'une traduction, mais surtout à travers toute la base de données.</p>
        </div>
    </div>
</div>

{% endblock %}
